.content_category_page {
  padding: 20px 20px 85px 20px;
  margin-top: 20px;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin: auto;
  .box_container {
    position: relative;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 10px;
      font-size: 22px;
    }
    .btn_left {
      display: none;
      position: absolute;
      top: 135px;
      left: 10px;
      z-index: 1;
      font-size: 40px;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      background-color: $white;
      color: $grey;
      cursor: pointer;
    }
    .btn_right {
      display: none;
      position: absolute;
      top: 135px;
      right: 0px;
      z-index: 1;
      font-size: 40px;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      background-color: $white;
      color: $grey;
      cursor: pointer;
    }
  }
  &::-webkit-scrollbar {
    height: 10px;
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #85858537;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7c7c7c42;
  }

  .albumitem {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 150px;
    width: 100vw;
    flex: 0 0 auto;
    position: relative;
    padding-right: 150px;

    &::-webkit-scrollbar {
      height: 8px;
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 1000px) {
  .content_category_page {
    padding: 20px;
    width: 90vw;
    margin: auto;
    .box_container {
      h2 {
        margin-bottom: 10px;
        font-size: 25px;
      }
      .btn_left {
        display: block;
        top: 100px;
      }
      .btn_right {
        display: block;
        top: 100px;
      }
    }
    .albumitem {
      border-radius: 8px;
      background-color: #1100ff0f;
    }
  }
}
