$primary-color: #4034ed;
$grey: #2d3438;
$light-grey: #b9bcd8;
$off-white: #fafafe;
$white: #ffffff;

//------Color------------//
// $navy-blue: #000049;
// $royal-blue: #11008f;
// $neon-blue: #2600ff;
// $light-blue: #b9bcd8;
// $white: #ffffff;
