.container{

.item{
width: 100%;
font-size: 14px;
border: 1px solid gray ;
border-radius: 10px;
background-image: linear-gradient(to bottom right,blue, violet);
padding:8px;
text-align: center;
cursor:pointer;
}
}

@media screen and (min-width: 1000px) {
.container{
  
}
}