.container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  cursor: pointer;
  img {
    object-fit: cover;

    border-radius: 50%;
  }
  .text {
    max-width: 200px;
    margin: auto;

    p {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 auto;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
